/* -- General style -- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: Roboto, Arial;
}

/* -- body setting for exercise 4 */
body {
  height: 5000px;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-content .title-content {
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  width: fit-content;
}

.header-content img {
  width: 50%;
}

hr {
  border: 1px solid #bdbdbd;
  margin: 40px 20%;
}

/* -- Exercise 14a style -- */
.container-14a {
  width: 500px;
  height: 500px;
  margin: 50px auto;
  border: 1px solid green;
  position: relative;
}

.bottom-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
}

/* -- Exercise 14b style -- */
.container-14b {
  width: 500px;
  height: 500px;
  margin: 50px auto;
  border: 1px solid green;
  position: relative;
}

.right-sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100px;
  background-color: green;
  color: white;
}

/* -- Exercise 14c style -- */
.container-14c {
  width: 500px;
  height: 500px;
  margin: 50px auto;
  border: 1px solid green;
  position: relative;
}

.cover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  color: white;
  text-align: center;
  align-content: center;
}

/* -- Exercise 14d style -- */
.container-14d {
  width: 500px;
  height: 500px;
  margin: 50px auto;
  border: 1px solid green;
  position: relative;
}

.right-sidebar-14d {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100px;
  background-color: green;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 300px;
  background-color: white;
  color: black;
  padding: 15px;
  border-radius: 5px;
}

.modal-title {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 12px;
}

.modal-content {
  margin-bottom: 12px;
}

/* -- Exercise 14e style -- */
.container-14e {
  width: 500px;
  height: 60px;
  margin: 50px auto;
  border: 1px solid green;
  position: relative;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
}

.left-section {
  display: flex;
  align-items: center;
}

.profile-picture {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  text-transform: capitalize;
  font-weight: bold;
}

.add-friend {
  background-color: rgb(24, 119, 242);
  color: white;
  border: none;
  text-transform: capitalize;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 6px;
  margin-right: 3px;
}

.message {
  background-color: rgb(230, 230, 230);
  border: none;
  text-transform: capitalize;
  padding: 8px 12px;
  border-radius: 6px;
  font-weight: bold;
}

/* -- Exercise 14f style -- */
.container-14f {
  width: 500px;
  height: 500px;
  margin: 50px auto;
  border: 1px solid green;
  position: relative;
}

.sidebar1 {
  background-color: rgb(33, 33, 33);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 10px 10px 0 10px;
}

.image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.sidebar2 {
  background-color: rgb(55, 55, 55);
  position: absolute;
  left: 70px;
  top: 0;
  bottom: 0;
  width: 150px;
  padding: 15px 15px 0 15px;
}

.the-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.the-name {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}

.create-new {
  color: rgb(150, 150, 150);
  font-size: 25px;
}

.channel {
  color: rgb(150, 150, 150);
  margin-bottom: 16px;
}
