/* -- General style -- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: Roboto, Arial;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-content .title-content {
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  width: fit-content;
}

.header-content img {
  width: 50%;
}

hr {
  border: 1px solid #bdbdbd;
  margin: 40px 20%;
}

/* -- Exercise 13a Style -- */
.container-13a {
  display: flex;
  margin: 40px auto;
  height: 50px;
  width: 300px;
}

.item-13a-1 {
  background-color: lightpink;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-13a-1 .item1-13a {
  background-color: black;
  color: white;
}

.item-13a-2 {
  background-color: lightblue;
  width: 200px;
}

/* -- Exercise 13b style -- */
.container-13b {
  width: 300px;
  height: 50px;
  display: flex;
  margin: 40px auto;
}

.column-13b-1 {
  background-color: lightpink;
  width: 100px;
}

.column-13b-2 {
  background-color: lightblue;
  width: 200px;
}

.row2-12b {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.row2-13b-2 {
  background-color: black;
  color: white;
}

/* -- Exercirse 13c, 13d and 13e style -- */
.container-13cd {
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  margin: 40px auto;
  padding: 5px;
}

.row1-13cd {
  text-transform: uppercase;
  color: rgb(120, 120, 120);
  margin-bottom: 15px;
  font-size: 14px;
}

.row2-13cd {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.column1-13cd {
  margin-right: 10px;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.column2-13cd {
  flex: 1;
}

.nested-row1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
  font-size: 18px;
}

.nested-column1 {
  text-transform: capitalize;
  font-weight: bold;
}

.nested-column2 {
  font-size: 14px;
  color: rgb(120, 120, 120);
}

.nested-row2 {
  font-weight: bold;
  margin-bottom: 5px;
}

.nested-row3 {
  color: rgb(120, 120, 120);
}

/* -- Excercise 13f and 13g style -- */
.tweet {
  width: 430px;
  border: 1px dashed #ccc;
  margin: 40px auto;
  padding: 10px;
  display: flex;
}

.profile-picture-column {
  margin-right: 20px;
}

.profile-picture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.tweet-column {
  flex: 1;
}

.tweet-header {
  display: flex;
  margin-bottom: 5px;
}

.tweet-author {
  font-weight: bold;
  margin-right: 5px;
}

.tweet-author-handle {
  color: rgb(111, 111, 111);
}

.tweet-content {
  margin-bottom: 15px;
  line-height: 20px;
}

.video-preview {
  display: flex;
  align-items: center;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 15px;
  overflow: hidden;
}

.thumbnail-column {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  margin-right: 10px;
}

.video-info-column {
  flex: 1;
}

.video-website {
  color: rgb(111, 111, 111);
  margin-bottom: 3px;
}

.video-title {
  line-height: 22px;
}
