.title-content {
  text-align: center;
}

.exercise-img {
  width: 50%;
  display: block;
  margin: auto;
}

.Ex-11a {
  display: grid;
  grid-template-columns: 200px 75px;
  background-color: #ccc;
}

.a-col1 {
  background-color: lightblue;
}

.a-col2 {
  background-color: lightpink;
}

.Ex-11b {
  display: grid;
  grid-template-columns: 50px 1fr 75px;
}

.b-coil1 {
  background-color: lightblue;
}

.b-coil2 {
  background-color: lightpink;
}
.b-coil3 {
  background-color: lightblue;
}

.Ex-11c {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
  background-color: #ccc;
}

.c-coil {
  background-color: lightpink;
}